.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.git/
.github/
.idea/
.vscode/
*.iml
.env
.env.*
!.env.example
**/doc/api/
android/.gradle/
ios/Pods/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
